*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    min-height: 100vh;
    background: #334;
}

.container .video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container .video-container .video {
    /* test position */
    position: fixed;
    bottom: 0px;
    right: 10px;
    /* /test position */
    height: 250px;
    width: 180px;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0,.7);
    cursor: pointer;
    overflow: hidden;
}

.container .video-container .video video{
    height: 100%;
    width: 100%;
    object-fit: cover; /* maybe fill not sure */
    transition: .2s linear;
}

.container .video-container .video:hover video{
    transform: scale(1.1);
}

.container .video-container span {
    position: absolute;
    bottom: 231px;
    right: 5px;
    font-size: 30px;
    color: white;

    text-align: center;
    align-items: center;
    display: flex;
    background-color: black;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 50%;

    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

@media (max-width:768px){
    .container .popup-video video {
        width: 95%;
    }
}
